$article-background: white;
$comment-box: white;
$font-color: #707070;
.box {
  background-color: $article-background;
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: default;
  box-shadow: none;
  color: $font-color;
  box-shadow: none;
  border-radius: 0;
  // .input, .select select, .textarea {
  //   background-color: #fff;
  //   color: $font-color;
  //   border-top: none;
  //   border-right: none;
  //   border-left: none;
  //   border-radius: 0;
  //   box-shadow: none;
  //   padding: 1.3rem;
  // }

  .article--userinfo {
    text-align: left;
    background: rgba(0, 0, 0, 0.16);
    position: absolute;
    width: 100%;
    right: 0%;
    top: 0%;
    img {
      width: 35px;
      border-radius: 25%;
    }
  }

  .article--title {
    font-size: 1.2rem;
    position: relative;
    font-weight: 600;
    bottom: 10px;
  }

  .article--description {
    text-align: left;
    margin-top: 13px;
  }

  .article-icon {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
    width: 30px;
    margin-right: -15px;
    margin-top: -15px;
  }

  .event--dates {
    display: none;
  }

  &:hover .event--dates {
    font-size: 0.8rem;
    position: absolute;
    top: 43px;
    left: 6px;
    display: block;
  }

  .article--date {
    display: none;
  }

  .comment--box::hover {
    background-attachment: s;
  }

  .comment--box {
    background-color: inherit;
    border-bottom: 1px solid grey;
    border-radius: 0%;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-bottom: 2px;
    align-items: center;
    font-size: 0.8rem;
    margin-top: 15px;
    position: relative;
    width: 90%;
    float: left;

    .comment--content {
      margin-top: auto;
    }

    .article--userinfo {
      top: -15px;
      background: inherit;
      left: 35px;
      color: rgba(0, 0, 0, 0.3);

      &:hover {
        color: rgba(0, 0, 0, 1);
      }
    }

    .hideable--date {
      position: absolute;
      right: 0;
      top: -15px;
    }
    img {
      width: 35px;
    }
  }
}

.attendees--summary {
  cursor: pointer;
  display: flex;
  flex-direction: row;

  .icon-box {
    display: flex;
    flex-direction: row;
  }

  .attendees--icon {
    width: 35px;
  }
}

.new--article--box {
  display: flex;
  width: 50%;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2% 25%;

  .calendar {
    margin-left: -350%;
  }

  .new--choose {
    display: contents;
  }

  .add {
    cursor: pointer;
  }
  .button-bar {
    display: flex;
    width: 35px;
    flex-direction: row;
  }
  .backspace {
    position: relative;
    width: 35px;
    margin-left: -6%;
    margin-right: 5%;
  }
  .check {
  }
}

.add--attendee {
  width: 20px;
  cursor: pointer;
}

.expand-comments {
  position: relative;
  width: 0;
  width: 20px;
  cursor: pointer;
}



.event {
  background-color: rgb(240, 202, 191);
  input {border-bottom: 4px solid #CAA8A0;}
}
.notice {
  background-color: rgb(208, 213, 216);
  input {border-bottom: 4px solid #AEB2B5;}
}

.offer {
  background-color: rgb(242, 204, 170);
  input {border-bottom: 4px solid #CAAC8D;}
}

.request {
  background-color: rgb(226, 227, 161);
  input {border-bottom: 4px solid #BDBF7F;}
}
.new {
  width: 75%;
}

.comment--input {
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid black;
  width: 90%;
  float: left;
  margin-top: 13px;
}

.comment--input:hover, .comment--input:active, .comment--input:focus {
  border-color: #7AA0DC;
}

.household {
  display: flex;
  flex-direction: column;
}
