$article-background: white;
$comment-box: white;

.box {
  background-color: $article-background;
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: default;


  .article--userinfo {
    text-align: left;
    background: rgba(0, 0, 0, 0.16);
    position: absolute;
    width: 100%;
    right: 0%;
    top: 0%;
    border-radius: 5px 5px 0px 0px;
    img {
      width: 35px;
    }
  }

  .article--title {
    font-size: 1.2rem;
    position: relative;
    font-weight: 600;
    bottom: 10px;
  }

  .article--description {
    text-align: left;
    margin-top: 13px;
  }

  .article-icon {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
    size: 1.5rem;
  }

  .event--dates {
    display:none
  }

  &:hover .event--dates {
    font-size: 0.8rem;
    position: absolute;
    top: 43px;
    left: 6px;
    display:block
  }

  .article--date {
    display:none
  }

  // &:hover .article--date {
  //   font-size: 0.8rem;
  //   position: absolute;
  //   top: 43px;
  //   left: 6px;
  //   display:block
  // }

  .comment--box {
    background-color: $comment-box;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-bottom: 2px;
    align-items: center;
    font-size: 0.8rem;
    margin-top: 10px;
    position: relative;

    img {
      width: 35px;
    }

  }
}

.attendees--summary {
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;

  .attendees--icon {
    // display:flex;
    // text-align: center;
    // flex-direction: row;
    width: 35px;
  }
}

.new--article--box {
  display: flex;
  width: 50%;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2% 25%;

  .calendar {
    margin-left: -350%;
  }

  .new--choose {
    display: contents;
  }

  .add {
    cursor: pointer;
  }
  .button-bar {
    position: relative;
    width: 35px;
  }
  .backspace {
    position: relative;
    width: 35px;
    margin-left: -6%;
    margin-right: 5%;
  }
}

.add--attendee {
  width: 20px;
  cursor: pointer;
}

.expand-comments {
  position: relative;
  width: 0;
  width: 20px;
  cursor: pointer;
}

.event {
  background-color: rgb(240, 202, 191);
}
.notice {
  background-color: rgb(208, 213, 216);
}

.offer {
  background-color: rgb(242, 204, 170);
}

.request {
  background-color: rgb(226, 227, 161);
}
