$selected-color: black; 
$filterbar-color: gray;

:focus {
  outline: none;
}

.filter--bar.container {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-top: 0.5rem;

  .filter--selected button.btn-events {color: #7A140E;}
  .filter--selected button.btn-notices {color: #173F5D;}
  .filter--selected button.btn-offers {color: #653C0F;}
  .filter--selected button.btn-wanted {color: #5F6107;}

  button.btn-events {color: #BB322C;}
  button.btn-notices {color: #47708F;}
  button.btn-offers {color: #9B672E;}
  button.btn-wanted {color: #929514;}
  
  .button {
    background: rgba(0,0,0,0);
    outline: none;
    border: none;
    padding: 0, 5px, 0, 5px;
    &:focus:not(:active){
      box-shadow: none !important;
      background-color: $selected-color;
    }
    button {
      font-size: 1em;
      background-color: 
      rgba(0,0,0,0);
      border: none;
      cursor: pointer;
      &.btn-events::after {
        background-image: url('images/events-red.svg');
      }
      &.btn-mine:after {
        background-image: url('images/user.svg');
      }
      &.btn-notices::after {
        background-image: url('images/notices-blue.svg');
      }
      &.btn-offers::after {
        background-image: url('images/offers-brown.svg');
      }
      &.btn-wanted:after {
        background-image: url('images/wanted-green.svg');
      }
      &::after {
        content: "";
        background-repeat: no-repeat;
        height: 16px;
        width: auto;
        padding-right: 16px;
        margin-left: 0.5rem;
      }    
    }
  }

  .filter--selected {
    outline: none;
    border: none;
    padding: 0, 5px, 0, 5px;
    .button { background-color: $selected-color;}
  }

}

