$body-font: Arial, Helvetica, sans-serif; 
$background-color-body: white; 
$font-color: #707070;;


html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: $body-font;
  color: $font-color;
  background-color: $background-color-body;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-bottom: 20px;
}