
.UserProcedure {
  font-size: 12px;
  background-color: #E2E3A1;
  color: #44718C;

  // header {
  //   height: 15vh;
  //   background-color: #BDBE87;
  // }
  strong {
    color: #44718C;
  }

  section.box {
    color: #44718C;
    font-size: 1.3em;
    width: 40%;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #E2E3A1;
    border: 4px solid #BDBE87;
    border-style: dashed;
    li.box {background: rgba(0,0,0,0); color: #44718C; font-weight: bold;}
  }

  sub {font-size: 1.3em;}

  .disabled-input {
    background-color: #F1F1C7;
  }

  p {
    font-size: 2em;
    color: #44718C;
    padding-bottom: 2rem;
  }

  button {
    color: #44718C;
    cursor: pointer;
    &.btn-edit {margin-top: 1rem;}
    &.btn-login, &.location-yes {margin-right: 2rem;}
    &.btn-login, &.btn-register, &.location-yes, &.location-no, &.btn-edit{
      font-size: 3em;
      &::after {
        content: "";
        border-bottom: 4px #BDBE87 solid;
        display: block;
        width: 80%;
        padding-bottom: 0.5rem;
        transition: width 0.5s;
        margin: 0 auto;
      }
      &:hover::after {
        content: "";
        width: 110% !important;
        transition: width 0.5s;
      }
    }
  }

  
  main {
    // background-color: #F7E5D5;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  form.registration_fields {
    display: grid;
  }
  input:required, input:invalid {box-shadow: none;}
  input:required:focus {
    border-bottom: 4px solid rgb(248, 101, 101);
  }
  input {
    width: 40%;
    padding: 1rem;
    font-size: 1em;
    border: 0;
    border-bottom: 4px solid #BDBE87;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
  :focus {
    outline: none;
  }
  section {
    button {
      background: 
      rgba(0,0,0,0);
      border: none;
      font-size: 4em;
    }
  }
  footer {
    position: absolute;
    width: 100%;
    bottom: 10%;
    padding-right: 5em;
    padding-left: 5em;
    button {
      text-transform: uppercase;
      font-size: 2.5em;
      background: rgba(0,0,0,0);
      border: none;
    }
    button.back-btn {float: left;}
    button.next-btn {float: right;}
  }
}

@media only screen and (max-width: 1000px) {
  .UserProcedure {
    input {width: 80%;}
    section.box {
      width: 80%;
      padding-top: 1em;
      padding-bottom: 1em;
    }
  }
}